<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01.22 图片测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0470C16D1C5233F40065DBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0470C1861C5233F40065DBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0470C1911C5233F40065DBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
